.container {
  width: min(90%, 1100px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  gap: 4rem;
  overflow: hidden;
  padding-bottom: 4rem;
}

.container h1,
p {
  color: #f2f2f2;
  text-align: center;
}

.container button {
  padding: 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #f2f2f2;
    text-align: center;
}

.input input{
    padding: 1rem;
    border-radius: .4rem;
}
